<div class="container">
    <div class="row">
        <div class="col-sm" style="text-align:center; margin:auto"> <a href="/joke">Dad Jokes</a></div>
        <div class="col-sm" style="text-align:center; margin:auto"> <a href="/litten">Pokémon</a></div>
        <div class="col-sm" style="text-align:center; margin:auto"> <a href="/weather">Weather</a></div>
    </div>
</div>