    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">



{{!-- <div class="container">
    <div class="row">
        <div class="col-sm" style="text-align:center; margin:auto"> <a href="/joke">Dad Jokes</a></div>
        <div class="col-sm" style="text-align:center; margin:auto"> <a href="/litten">Pokémon</a></div>
        <div class="col-sm" style="text-align:center; margin:auto"> <a href="/weather">Weather</a></div>
    </div>
</div> --}}

<div class="card" style="background-color:rgb(157, 157, 157); width:200px; margin:auto">
<img src="{{img}}" alt="" style="margin:auto">
  <div class="card-body" style="margin:auto">
    <h4 style="text-align:center;" > {{name}} </h4>
    <p class="card-text" style="text-align:center;" >This is a pokémon</p>
    <a href="#" class="btn btn-primary" >Click to do nothing.</a>
  </div>
</div>


{{!-- <div class="container-fluid">This is a sentence.</div> --}}