
{{name}}

<img src="{{img}}" alt="">


{{!-- Need multiple random dad jokes, this just provides just one --}}

<div class="container">
    <div class="row">
        <div class="col-sm">Dad Jokes</div>
        <div class="col-sm">Pokémon</div>
        <div class="col-sm">Music</div>
    </div>
</div>
<div class="container-fluid">This is a sentence.</div>